<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

<script src="{{ "/assets/js/disclosure-menu.min.js" | relative_url }}"></script> <!-- TODO: is this necessary? -->
<script src="{{ "/assets/js/nav.js" | relative_url }}"></script> <!-- TODO: is this necessary -->
<script src="{{ "/assets/js/toc.js" | relative_url }}"></script> <!-- TODO:  is this necessary -->

<script type="text/javascript">
$(document).ready(function() {
    $('.side-nav').toc({classes: { list: 'list-group',item: 'list-group-item'}});

    // Polyfill for startsWith (thanks IE)
    if (!String.prototype.startsWith) {
      String.prototype.startsWith = function(searchString, position) {
        position = position || 0;
        return this.indexOf(searchString, position) === position;
      };
    }
});
</script>
