$purple: #2B2875;
$dark-purple: #1D1D4F;
$light-purple: #F4F4F8;

$pink: #DA3B65;

$aqua: #005C71;
$light-aqua: #3B839E;

$light-blue: #3684a014;

$gold: #EEB447;

$white: #FFFFFF;
$light-gray: #EBEBEF;
$dark-gray: #2C2C2C;
$black: #000000;
