.home {
  background: $light-gray;
  padding: 20px;
  @include lg-up {
    padding: 40px 100px 100px 100px;
  }
  & > h1 {
    padding-top: 0;
  }
}

.home__cards {
  @include lg-up {
    display: flex;
  }
  justify-content: space-between;
  margin-top: 20px;
}
