@use 'abstracts' as abs;

.report-toc {
  background: abs.$light-purple;
  box-shadow: 0 3px 3px abs.$light-gray;
  box-sizing: border-box;
  max-height: 100vh;
  overflow-y: auto;
  padding: 10px 30px;
  top: 0;
  width: 100%;

  @include abs.lg-up {
    padding: 50px;
    position: sticky;
    width: 435px;
  }
}

.report-toc__title {
  font-size: 20px;
  font-weight: abs.$font-weight-medium;
}

.report-toc__title--main {
  display: none;

  @include abs.lg-up {
    display: block;
  }
}

.report-toc__title--mobile {
  appearance: none;
  background: none;
  border: none;
  color: abs.$purple;
  cursor: pointer;
  font-family: abs.$sans-serif-stack;
  height: 68px;
  padding: 0;
  text-align: left;
  text-transform: uppercase;
  width: 100%;

  @include abs.lg-up {
    display: none;
  }
  &:after {
    content: '\2228';
    font-weight: bold;
    padding-left: 10px;
    vertical-align: top;
    &.open {
      content: '\2227';
    }
  }
}

.report-toc__list-wrapper {
  display: none;

  @include abs.lg-up {
    display: block;
  }
  &.open {
    display: block;
  }
}

.report-toc__list {
  list-style: none;
  padding-left: 0;
}

.report-toc__list-item {
  font-size: 16px;
  height: 48px;

  @include abs.lg-up {
    height: unset;
    margin-bottom: 14px;
  }
}

.report-toc__list-item > a {
  color: abs.$purple;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.report-toc__list-item--active  {
  font-weight: abs.$font-weight-bold;
  &:before {
    color: abs.$purple;
    content: "—";
    margin-right: 5px;
  }
}
