.report {
  align-items: flex-start;
  display: unset;
  justify-content: space-between;
  @include lg-up {
    display: flex;
  }
}

.report__title {
  border-bottom: 3px solid $purple;
  font-family: $sans-serif-stack;
  font-size: 42px;
  font-weight: $font-weight-medium;
  padding-top: 0;
  line-height: 1.3;
  margin-bottom: 30px;
  padding-bottom: 30px;
  @include lg-up {
    font-size: 50px;
  }
}

.report__section {
  color: $aqua;
  font-size: 50px;
  font-weight: $font-weight-medium;
  line-height: 1.3;
  margin-top: 30px;
  margin-bottom: 0;
  @include lg-up {
    font-size: 62px;
    margin-top: 80px;
  }
}

.report__lede {
  color: $purple;
  font-family: $sans-serif-stack;
  font-size: 18px;
  font-weight: $font-weight-bold;
  line-height: 1.6;
  @include lg-up {
    font-size: 21px;
  }
}

.report__text {
  font-family: $serif-stack;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  line-height: 1.75;
  @include lg-up {
    font-size: 18px;
    padding-left: 60px;
    padding-right: 120px;
    width: calc(100% - 435px);
  }
}

.report__dedication {
  font-family: $serif-stack;
  font-size: 14px;
  font-style: italic;
  line-height: 18px;
  margin-top: 40px;
  @include lg-up {
    margin-top: 100px;
  }
}

.report__committee {
  margin-top: 30px;
}

.report__committee-title {
  color: $black;
  font-family: $sans-serif-stack;
  font-size: 18px;
}

.report__committee-member {
  font-family: $sans-serif-stack;
  font-size: 14px;
  line-height: 12px;
  margin-top: 20px;
}

.report__committee-member-name {
  font-weight: $font-weight-bold;
}

.foreword__title {
  font-family: $sans-serif-stack;
  font-size: 32px;
  line-height: 1.3;
  padding-top: 39px;
}

.foreword__text {
  font-family: $sans-serif-stack;
  font-size: 15px;
  line-height: 1.6;
}

.report__name {
  color: $purple;
  font-weight: $font-weight-bold;
}

.report__section-title {
  color: $purple;
  font-family: $serif-stack;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.report__footnotes {
  border-top: 1px solid $black;
  font-size: 12px;
  line-height: 15px;
  list-style: none;
  margin-top: 50px;
  padding-left: 0;
  padding-top: 20px;
}

.report__quote {
  border-left: 3px solid $purple;
  font-weight: bold;
  padding-left: 20px;
  & > p {
    color: $purple;
    font-style: italic;
  }
  @include lg-up {
    padding-left: 40px;
  }
}

.report__sidebar {
  background: $light-blue;
  font-family: $sans-serif-stack;
  padding: 30px;
  margin: 30px 0;
  & p, a {
    color: $purple;
  }
  @include lg-up {
    padding: 40px;
    margin: 40px 0;
  }
}

.report__sidebar-title {
  font-size: 22px;
}

.report__pullquote {
  color: $purple;
  font-size: 32px;
  font-family: $sans-serif-stack;
  font-weight: $font-weight-bold;
  line-height: 44px;
}
