.resources__list {
  font-family: $serif-stack;
  font-size: 19px;
  font-weight: $font-weight-normal;
  list-style: none;
  padding: 0;
}

.resources__list-item {
  padding-bottom: 12px;
  & > a {
    font-weight: $font-weight-bold;
  }
}
