@use 'abstracts' as abs;

.resources__list {
  font-family: abs.$serif-stack;
  font-size: 16px;
  font-weight: abs.$font-weight-normal;
  list-style: none;
  padding: 0;

  @include abs.lg-up {
    font-size: 19px;
  }
}

.resources__list-item {
  padding-bottom: 12px;
  & > a {
    font-weight: abs.$font-weight-bold;
    &:hover {
      text-decoration: none;
    }
  }
}
