.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  color: $black;
  font-weight: $font-weight-bold;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
    z-index: 99;
    background-color: $light-blue;
    margin: 5px;
    padding: 10px 16px;
  }
}
