$transition-default: all 0.2s ease;
$break-lg: 1024px;

@mixin visually-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    &:focus {
      clip: auto;
      height: auto;
      overflow: auto;
      position: absolute;
      width: auto;
      z-index: 99;
  }
}

@mixin lg-up {
  @media screen and (min-width: $break-lg) { @content; }
}

.mobile-only  {
  display: inherit;
  @include lg-up {
    display: none;
  }
}
